
$break-small: 676px;
$break-large: 1200px;

.background{
  background-color: rgba(0,0,0,0);
 /* background-image: url("/assets/images/bckg.jpg");*/
  @media screen and (max-width: $break-small) {
    background-image: url("/assets/images/bckg.jpg");
  }
}
