.bag{
  margin-top: 30px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.baglist{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.selectItem{
  width: 50px;
}

.incr{
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 1px 0;
  font-size: 11px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.cover{
  width: 45px;
  height: 55px;
}

.productCard{
  border: 1px;
}
